
body {
	font-size: 16px;
	font-family: sans-serif;
}

.filters {
	padding: 20px;
	position: fixed;
}

.filters span {
	margin-left: 20px;
}

.filters select {
	margin-left: 10px;
}

table {
	border-collapse: collapse;
}

td,
th {
	padding: 5px 10px;
	border: 1px solid black;
}

thead tr {
	background-color: lightblue;
}

tbody tr:nth-child(2n + 0 of :not(tr.hidden)) {
	background-color: beige;
}

tbody tr td.mass,
tbody tr td.armor {
	text-align: right;
}

tbody tr td.speed {
	text-align: center;
}

tbody tr.hidden {
	display: none;
}
